@using SurveyApp.Entities
@model SurveyResultModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var questionNumber = 1;
    var singleChoiceResultNumber = 1;
    var ratingResultNumber = 1;
    var textResultNumber = 1;
    var multipleChoiceResultNumber = 1;
    var viewComponentName = "";
}

<h4>@Model.surveyTitle anketinin sonuçları..</h4>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<div class="row justify-content-center">
    @foreach (var modelQuestion in Model.questionAnswers)
    {
        

        <p>@questionNumber) @modelQuestion.question.Title</p> questionNumber++;
        <br/>
        <div class="row" style="margin-left: 30px;">
         
            @if (modelQuestion.question.OptionType == OptionType.MultipleChoice)
            {
                @if (modelQuestion.answerCount == 0)
                {
                    <p>Hiç cevap bulunmamaktadır.</p>
                }
                else
                {
                    <div class="row justify-content-center">
                        <canvas id="barChart"></canvas>
                        <script>
                            var ctx = document.getElementById('barChart').getContext('2d');
                            var labels = []; 
                            var data = []; 
                    
                            @foreach (var counter in modelQuestion.responseCountModels)
                            {
                                <text>
                                labels.push('@counter.Text');
                                data.push(@counter.Count);
                                </text>
                            }
                            var barChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Cevap Sayısı',
                                        data: data,
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        borderColor: 'rgba(75, 192, 192, 1)', 
                                        borderWidth: 1 
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true 
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                }
            }
            else if (modelQuestion.question.OptionType == OptionType.SingleChoice)
            {
                
                @if (modelQuestion.answerCount == 0)
                {
                    <p>Hiç cevap bulunmamaktadır.</p>
                }
                else
                {
                    @foreach (var counter in modelQuestion.responseCountModels)
                    {
                        <p>@counter.Text Sayısı = @counter.Count</p>
                    }
                    @foreach(var answer in modelQuestion.Answers)
                        {
                            <p>@singleChoiceResultNumber)@answer.Text</p>
                            singleChoiceResultNumber++;
                            <br/>
                        }
                }
            }
            else if (modelQuestion.question.OptionType == OptionType.Rating)
            {
                @if (modelQuestion.answerCount == 0)
                {
                    <p>Hiç cevap bulunmamaktadır.</p>
                }
                else
                {
                    @foreach (var counter in modelQuestion.responseCountModels)
                    {
                        <p>@counter.Text Sayısı = @counter.Count</p>
                    }
                }
            }
            else if (modelQuestion.question.OptionType == OptionType.Text)
            {
                @if (modelQuestion.answerCount == 0)
                {
                    <p>Hiç cevap bulunmamaktadır.</p>
                }
                else
                {
                    @foreach (var answer in modelQuestion.Answers)
                    {
                        <p>@textResultNumber) @answer.Text</p>
                        textResultNumber++;
                        <br/>
                    }
                }
            }
        </div>
    }
</div>